html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.grid {
  width: 400px;
  height: 600px;
  background: rgb(7, 247, 39);
  position: relative;
  overflow: hidden;
  font-size: 200px;
  text-align: center;
}

.doodler {
  width: 56px;
  height: 80px;
  background: rgb(20, 3, 3);
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background: rgb(204, 13, 13);
  position: absolute;
}